// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$theme_fg_color: "@theme_fg_color";
$theme_bg_color: "@theme_bg_color";

window.Bar {
    background: transparent;
    color: #{$theme_bg_color};
    font-weight: bold;

    >centerbox {
        background: #{$theme_bg_color};
        border-radius: 10px;
        margin: 8px;
    }

    .main-box {
        margin: 8px;
        padding: 8px;
        border: 2px solid black;
        // background: transparent;
        // &:not(:empty){
        //     background: #28182c;
        // }
        transition: background 0.3s ease;
        // min-width: 180px;
    }

    // label {
    //     text-align: right;
    // }
    // box {
    //     border: 2px solid black;
    // }
}

